body {
  background-color: #0b1426 !important;
}
.form-control {
  background: transparent !important;
  border: 1px solid white !important;
  border-radius: 20px !important;
  color: white !important;
  width: 400px !important;
}

.headerfontcolor {
  color: white !important;
}
.header-button {
  background: linear-gradient(90deg, #1199fa, #11d0fa);
  border-radius: 4px;
  line-height: 22px;
  padding: 8px 24px;
}
.header-button2 {
  align-items: center;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
}

.nav-link {
  margin-left: 30px !important;
}
.back-img {
  background: url("Media/card1.png") 0% 0% / cover;

  background-repeat: no-repeat;
  height: 30vh !important;
}
.back-img1 {
  background: url("Media/card2.jpeg") 0% 0% / cover;

  background-repeat: no-repeat;
  height: 30vh !important;
}
.back-img2 {
  background: url("Media/card3.jpeg") 0% 0% / cover;

  background-repeat: no-repeat;
  height: 30vh !important;
}
.back-img3 {
  background: url("Media/card4.jpeg") 0% 0% / cover;

  background-repeat: no-repeat;
  height: 30vh !important;
}
.back-img4 {
  background: url("Media/card5.png") 0% 0% / cover;

  background-repeat: no-repeat;
  height: 30vh !important;
}
.fontbottom {
  position: absolute;
  bottom: 0;
  margin-left: 10px;
  margin-bottom: 10px;
}
.cardbgcolor {
  background-color: black;
}
.cardfontcolor {
  color: white;
}
.card {
  border-radius: 20px !important;
  border: none !important;
}
.card-body {
  overflow: hidden;
}
@media screen and (max-width: 600px) {
  .hideimg {
    display: none;
  }
}
.sc-pyfCe {
  background-color: transparent !important;
  color: white !important;
}

.sc-eDvSVe {
  background-color: #0b1426 !important;
}
.cardimg1 {
  border-radius: 30px;
}
.cardtext {
  font-size: 14px;
  font-weight: 500;
}
.cardtext1 {
  color: rgb(98, 105, 115);

  font-size: 12px;
  font-weight: 500;
}
.cardcolor{
  background-color: #DCF0FE !important;

}
.buttoncard{

  font-weight: 600;
  
  // margin: auto;
  color: rgb(17, 153, 250);
  background-color: #DAEEFC ;
  border-radius: 5px;
  border: none;


  


}

.textcard{
 display: flex;
 justify-content: space-between;
}
.cardtext2{
  color: rgb(16, 16, 16);

  font-size: 16px;
  font-weight: 500;
}
.footertext{
 
  color: rgb(176, 180, 185);
  font-size: 14px;
  font-weight: normal;
}
.footerendtext{
  display: flex;
    // align-items: flex-end;
    // flex-wrap: wrap;
    gap: 8px 16px;
    justify-content: end;
}

.content1 {
  padding-top: 90px;
  padding-bottom: 120px;
  background-color: white;
  padding-bottom: 30px;
  .img-fluid {
    border-radius: 5%;
  }
  .back-btn {
    background-color: transparent;
    border: none;
    font-size: 17px;
    font-weight: 500;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #1199faff;
  }
  p {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    margin-top: 10px;
    font-weight: 500;
  }
  .hrt {
    display: flex;
  }
  .tick {
    margin-top: 30px;
    margin-left: -10px;
  }
  .card1 {
    border: none;
    display: flex;
    flex-direction: row;
    code {
      color: black;
    }
    span {
      color: #999DA4;
    }
    .border {
      border-radius: 50%;
    }
  }
  h1 {
    font-size: 30px;
    font-weight: 700;
  }
  .vr {
    height: 80px;
    width: 1px !important;
  }
  p {
    font-size: 14px;
  }
  strong {
    font-size: 25px;
  }
  .badge {
    background-color: transparent !important;
    color: #999DA4 !important;
    border: 1px solid grey !important;
    border-radius: 10px !important;
    font-weight: 500;
  }
  .celebrate {
    h6 {
      font-size: 17px;
      font-weight: 400;
    }
    p {
      border: 1px solid #1199FA;
      border-radius: 4px;
      color: #1199FA;
      padding: 10px 5px;
      text-transform: capitalize;
      margin-right: 10px;
    }
  }
  .dp {
    border-radius: 50%;
  }
  .code {
    margin-top: 15px;
    margin-left: 90px;
    code {
      color: #999DA4;
    }
  }
  .card2 {
    h1 {
      margin-top: 10px;
    }
  }
  .b1 {
    box-sizing: border-box;
    margin: 0px;
    border: none;
    padding: 0px 24px;
    outline: 0px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.3em;
    text-decoration: none;
    background: linear-gradient(
      90deg,
      rgb(17, 153, 250) 0%,
      rgb(17, 208, 250) 100%
    );
    color: rgb(255, 255, 255);
    border-radius: 4px;
    height: 48px;
    min-width: 128px;
    margin-top: 10px;
  }
}
